html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    width: 550px;
    margin: 0 auto;
}

.navbar-flex {
    background-color: #21222a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.navbar-child1 {
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding: 1em 0;
}

.navbar-child1-logo {
    width: 15%;
}

.navbar-child1-text {
    color: #61dafb;
    font-weight: 700;
    margin-left: .5em;
    font-size: 22.25px;
}

.navbar-child2-text {
    color: #deebf8;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 1.5em;
}

.main {
    background-color: #282D35;
    padding: 2em 2em 5em;
}

.main-title {
    font-weight: 700;
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: -0.05em;
}

.main-list {
    color: #ffffff;
    margin-top: 46px;
    max-width: 400px;
}

.main-list-item {
    padding-block: 10px;
    font-size: 1rem;
    line-height: 19px;
}

.main-list-item::marker {
    color: #61dafb;
    font-size: 1.5rem;
}
